extends ../layout/pageLayout
block stylesheetpage
    link(rel="stylesheet", href=baseUrl+'/stylesheets/uc_common.css')
    link(rel="stylesheet", href=baseUrl+'/stylesheets/usercenter.css')
    script.
        var currentPage=#{listDta.currentPage};
        var totalPage=#{listDta.totalPage};
block pagecontent
    #uc_wrapper
        include top
        #uc_content.cf
            include left
            #uc_main
                .t_w
                    .t_head_w.cf
                        .t_name 我的评论
                    #t_filter.filter
                        a.f_sel(href='/user/comment/commentOrder') 未点评
                        em |
                        a(href='/user/comment/commentList') 已点评
                    table.common_t(cellpadding='0', cellspacing='0',style="text-align:center")
                        tr
                            th.c1 订单编号
                            th.c2 评分
                            th.c4 点评内容
                            th.c5 发表时间
                        each item in listDta.items
                            tr
                                td.c1=item.orderNo
                                td.c2=item.starNum
                                td.c4=item.content
                                td.c5=item.createTime
                    .pagings
                        ul.slide-page#slidePage
block scriptspage
    script(src=baseUrl+'/javascripts/uc_common.js')