mixin header(orders,mold)
   header.myorder-header
      if(mold!="score")
          p.myorder-explian
             span
                | 订单号：
                =orders.orderNo
             span
                | 下单日期：
                +nDate(orders.createTime)
      h3.myorder-title=orders.info
      case mold
         when "hotel"
            p.myorder-explian
               span=orders.roomName
         when "score"
             p.myorder-explian
                 | 积分兑换时间：
                 span=orders.createTime
      -var text=""
      if(mold=="score")
          -text="订单总积分："
      else
          -text="订单总金额："
      p.myorder-pay=text
         span.price
            if(mold!="score")
                em ￥
            =orders.finalSum
         em.pay-mold.payed.fr
            if(mold!="score")
                +orderStatus(orders.orderStatus)
            else
                +scoreStatus(orders.dealResult)