extends layout
block stylesheet
    link(rel='stylesheet', href=baseUrl+'/stylesheets/member.css')

block content
    .member-info-title
        h3="会员等级"
        em="MEMBERSHIP GRADE"
    .member-info-content
        ul.member-grade-list
            li
                .member-grade-icon.icon-copper
                span="注册并完善"
                    br
                    ="基本信息"
            li
                .member-grade-icon.icon-silver
                span="累计消费满"
                    br
                    em=500
                    ="元"
            li
                .member-grade-icon.icon-platinum
                span="累计消费满"
                br
                em=1500
                ="元"
            li
                .member-grade-icon.icon-diamond
                span="累计消费满"
                br
                em=3000
                ="元"
                br
                ="本人消费含2个宋城产品"
        .member-grade-explian
            p="注："
            p="1、所有会员等级首个有效期为3年，每3年系统根据会员消费值进行会员身份延续或降级调整；"
            p="2、宋城旅游会员的消费积分、会籍级别以宋城旅游会员中心系统记载的数据为准，年审标准如有调整，请留意官网最新公告。"
    .member-info-title
        h3="积分获取"
        em="GAIN INTEGRAL"
    .member-info-content
        .member-score-list
            .score-list-item
                i.member-score-icon.score-icon1
                p="完善资料"
                p="获得"
                    em="100"
                    ="积分"
            .score-list-item
                i.member-score-icon.score-icon2
                p="好评点赞"
                p="获得"
                    em="50"
                    ="积分"
            .score-list-item
                i.member-score-icon.score-icon3
                p="分享活动"
                p="获得"
                    em="10"
                    ="积分"
            .score-list-item
                i.member-score-icon.score-icon4
                p="在线消费"
                p
                    em="1元=1积分"
    .member-info-title
        h3="积分兑换"
        em="EXCHANGE POINTS"
    .member-info-content
        .exchange-info
            p.exchange-item
                i.icon-num.icon-num1
                span="会员积分累积一定数量时可至会员中心-积分商城进行兑换（可用积分兑换优惠券、商品、服务、体验等）"
            p.exchange-item
                i.icon-num.icon-num2
                span="使用积分兑换优惠券，每10个积分抵扣1元优惠券金额，如：100积分＝10元无门槛电子优惠券"
            p.exchange-item
                i.icon-num.icon-num3
                span="使用积分购换实物商品，每20个积分抵扣1元商品价格，如：200积分=10元价值商品"
    .member-info-content
        h4.exchange-title="注意事项"
        .exchange-info
            p.exchange-item
                i.icon-num.icon-num1
                span="会员卡内的积分不能转赠、不能合并"
            p.exchange-item
                i.icon-num.icon-num2
                span="每兑一次卡内积分将被自动扣减相应分值数额，一经兑换，礼品不可退换"
            p.exchange-item
                i.icon-num.icon-num3
                span="积分兑换所得的优惠券消费时不参与积分累积"
            p.exchange-item
                i.icon-num.icon-num4
                span="积分兑换的产品由宋城旅游确定，每期兑换礼品种类和所需分值可能有所不同，以官网会员中心公布为准，敬请留意"
            p.exchange-item
                i.icon-num.icon-num5
                span
                    ="积分有效期：从积分生成日起3年内有效"
    .member-info-title
        h3="会员权益"
        em="MEMBERSHIP RIGHTS"
    .member-info-content
        ul.member-right-list
            li
                span
                    i.member-right-icon.icon-copper
                span="得100积分+一张50元新会员电子优惠券"
                    br
                    ="（不可当天使用）"
            li
                span
                    i.member-right-icon.icon-silver
                span="可用1000积分兑换门票1张"
                    br
                    ="（价值不超过100元）"
            li
                span
                    i.member-right-icon.icon-platinum
                span="可用2000积分兑换门票1张"
                    br
                    ="（价值不超过200元）"
            li
                span
                    i.member-right-icon.icon-diamond
                span="可用3000积分兑换门票1张"
                    br
                    ="（任意千古情系列演出）"
    .member-info-title
        h3="会员特权"
        em="MEMBER PRIVILEGES"
    .member-info-content
        .conImg
            img(src="/images/member/img1.jpg")
        .conImg
            img(src="/images/member/img2.jpg")
    .member-info-title
        h3="会员申请须知"
        em="MEMBERSHIP APPLICATION NOTES"
    .member-info-content.notes-info
        p
            strong="1、申办方法"
        p="01）线下申办"
        p="在景区或会员推广活动现场扫码进入注册页面；"
        p="02）或宋城旅游官微申办"
        p="关注“宋城旅游”或“dumuqiaolyw”——菜单中选择“加入会员” ——进入会员VIP——点击“新会员注册”，验证通过后，注册成功。"
        p
            strong="2、申办条件及须知"
        p="01）申请人申办时需登记个人真实、准确、最新及完整的身份信息，一张有效身份证只能办理1个会员身份；"
        p="02）同业公司及团队、旅行社及门票代理机构、导游及司陪人员、公司团队消费均不适合参加本卡的申请，不纳入宋城旅游会员的范畴；"
        p="03）宋城旅游会员卡首个有效期为3年，会员可通过后续消费晋级成为更高级别的会员。当前的会籍级别均以宋城旅游会员中心记载的数据为准；"
        p="04）建议游客在到达景区或进行消费前，先尽快申办宋城旅游会员，申请成功后可享受相应会员权益；"
        p="05）宋城旅游会员卡使用受条款及细则约束，持卡会员需时刻遵守宋城集团旗下景区范围内的运营秩序；"
        p="06）会籍级别每3年年审，当前的会籍级别均以宋城旅游会员中心记载的数据为准；"
        p="07）如发现持卡人存在欺瞒等不正当手段申请，或存在不恰当使用会员卡的情况，或倒卖宋城集团景区门票，或在景区发生扰乱正常经营秩序现象，或未能遵守有关条款及细则，存在不恰当、欺诈或错误使用本卡等行为，宋城集团均有权即时取消其个人会籍资格及所有累积的积分，并保留对终止个人会籍通知与否的权利；如对宋城集团造成经济损失或社会影响的应予以赔偿，我司会送交相关部门处理并采取相关法律行为予以追究。"
