.tl3="自由行"
.line_s.line_s3
    .line_shead
        a(href="/details/line/5237",target="_blank")="宋城，祈福穿越！双人游宋城，游玩灵隐（飞来峰）景区。"
        span
    .line_smain.cf
        a(href="/details/line/5237",target="_blank").line_pic
            img(src=baseUrl + "/images/demo/885a953a-897d-4716-bdf1-f517d9c0770f.jpg",alt="宋城，祈福穿越！双人游宋城，游玩灵隐（飞来峰）景区。")
        .line_tbox
            p
                | !{'体味千年的文化韵味，看一场一生必看的《宋城千古情》，邂逅千古情主题酒店，灵隐祈福。双人游宋城，享受价值310元/张贵宾席门票，入住880元/间千古情主题酒店高级房1间，现特惠套餐仅需728元/套。'}
            .pribox="特价："
            a(href="/details/line/5237")
                b=728
                ="元起"
.cw_w1
    .cw_w1_inner.cf
        .cbox.cbox3
            .cbox_head
                a(href="#",target="_blank")="丽江宋城旅游区特惠套餐"
                span
            .cbox_main.cf
                a(href="#",target="_blank").cbox_pic
                    img(src=baseUrl + "/images/demo/fef92a8f-9b27-49d8-a92e-83bb104a1ab5.jpg")
                .cbox_txt
                    p="观赏丽江千古情，游玩宋城丽江乐园，原价130元的乐园门票，价值280元/张贵宾席门票，现特惠套餐仅需320元/套。"
                    .cbox_pri="特价："
                    a(href="#")
                        b=289
                        ="元起"
        .cbox.cbox3
            .cbox_head
                a(href="#",target="_blank")="宋城旅游区欢乐套餐I（含宋城烂苹果乐园）"
                span
            .cbox_main.cf
                a(href="#",target="_blank").cbox_pic
                    img(src=baseUrl + "/images/demo/eaf60aeb-72d9-4c8c-8406-eb037bb1f0c3.jpg")
                .cbox_txt
                    -var text='<span style="color:#fff;">123</span>'
                    p
                        | !{text}
                    .cbox_pri="特价："
                    a(href="#")
                        b=878
                        ="元起"
.b_box
    a(href="#",target="_blank").b_box_pic
        img(src=baseUrl + "/images/demo/d83cbe14-0a5f-4281-9625-04d486c9b725.jpg",alt="杭州宋城西溪湿地双人套餐（住千古情主题酒店，相约宋城，船游西溪）")
    .b_box_txt
        p="2天1夜双人游宋城，体验西溪慢生活，自由行原价1660元，现特惠套餐仅需816元/套！"
    .b_box_b.cf
        a(href="#",target="_blank").b_box_t="杭州宋城西溪湿地双人套餐（住千古情主题酒店，相约宋城，船游西溪）"
        .b_box_pri="特价"
        a(href="#")
            b="816"
            ="元"

